html{
    color: blue;
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    color: blue;
    font-family: Times, sans-serif;
}
li{
    color: orange;
}
#my_id{
    color: brown;
    text-decoration: dotted;
}