<%- include('./partials/header') %>
<h1>Welcome to Knex Express Lab 11 Page!</h1>
<div class='container'>
    <img src='https://chengpham.com/homepage/avatar.png' height='400px'>
</div>

<%- include('./partials/footer') %>
