<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knex Express Lab 11</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    body{
      background-color: lightgrey;
    }
    main{
      padding: 100px 10% 20px 10%;
      position: relative;
    }
    h1, em{
      color: grey;
    }

  </style>
</head>
<body>
  <div class="w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="/notes" class="w3-bar-item w3-button"> Notes</a>
    <a href="/bills" class="w3-bar-item w3-button"> Bill Splitter</a>
  </div>
  <main class='container'>
    
