<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Person</title>
</head>
<body>
    <form method="POST">
        <div>
            <label  for='names'>Random Person</label>
            <br/>
            <textarea rows="5" cols="50" id="names" name="names"></textarea>
        </div>
        <input type="submit" value="submit"/>
    </form>
    <br/><br/>
    <div>
        <h2>Lucky winner is: <%= names %></h2>
        
       
        
    </div>
</body>
</html>