<%- include('./partials/header') %>

    <h1> Select your preferred language</h1>

    
    <form method="POST">
        <div>
            <label for="language">Your preferred language</label>
            <select name="language" id="language" name="language">
                <option value="">Select</option>
                <option value="english">English</option>
                <option value="french">French</option>
                <option value="spanish">Spanish</option>
            </select>
            <br/>
            <input type='submit' value='submit'>
        </div>
    </form>
    
    

<%- include('./partials/footer') %>
