<%- include('./partials/header') %>

<h1>Add a reminder to Notes</h1>

<form method="POST">
    <div class="form-group">
        <label for="reminder">Add to list</label><br/>
            <textarea class="form-control" rows="5" cols="50" id="notes" name="notes"></textarea>
        <br/>
        <button class="btn btn-primary" type='submit' value='submit'>Submit</button>
    </div>
</form>

<%- include('./partials/footer') %>