<%- include('./partials/header') %>
    <h1>Thank You</h1>
    <div>
        <h2> Hi, <%= fullname%> </h2>
        
        <p> <%= message%> </p>
        <p> We'll contact you bact at <%= email%> </p>
    </div>
</body>
</html>